@model Chart.Models.Video
@{
    ViewData["Title"] = Model.Title;
}
<div class="container-fluid vh-100 d-flex flex-column">
    <h1 class="mt-3">@Model.Title</h1>
    <div class="row flex-grow-1">
        <div class="col-12 col-lg-8 mx-auto d-flex align-items-center">
            <div class="video-container">
                <video controls class="responsive-video">
                    <source src="@Url.Content(Model.VideoUrl)" type="video/mp4">
                    Trình duyệt của bạn không hỗ trợ video.
                </video>
            </div>
        </div>
    </div>
</div>

<style>
    .video-container {
        width: 100%;
        max-height: 66.67vh; /* 2/3 of viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-video {
        max-width: 100%;
        max-height: 66.67vh; /* 2/3 of viewport height */
        object-fit: contain;
    }
</style>